* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.eu {
    text-align: center;
}

.nome {
    text-align: center;
}

.fundo {
    background: linear-gradient(45deg,rgb(44, 130, 241), rgb(172, 12, 204));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora {

    position: absolute;
    background-color: rgb(105, 25, 197);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 10px 10px 30px rgb(59, 4, 104);
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(72, 6, 143);
    color: white;
    border-radius: 10px;
    border: none;
    margin: 3px;
}
.botao:hover {
    background-color: rgb(130, 24, 179);
}

#teclaC:hover {
    background-color:rgb(104, 170, 255);
}

#teclaApaga:hover, #teclaIgual:hover {
    background-color: violet;
}

#teclaMais:hover, #teclaMenos:hover, #teclaMulti:hover, #teclaDiv:hover {
    background-color: rgb(173, 85, 255);
}

#resultado {
    max-width: 16ch;
    overflow: hidden;
    width: 213px;
    height: 30px;
    background-color: white;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    border: none;
}

#teclaC {
    background-color: rgb(41, 70, 235);
}

#teclaMais, #teclaMenos, #teclaMulti, #teclaDiv {
    background-color: rgb(140, 0, 255);
}


#teclaIgual, #teclaApaga {
    background-color: rgb(168, 43, 226);
}

.telaErro {
    display: flex;
    flex-direction: column;
    top: -62vh;
    margin: auto;
    position: relative;
    max-width: 500px;
    width: 80vw;
    height: 150px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 4px 4px 30px 1px rgb(218, 217, 218);
    border: none;
}

.textoErro {
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin: auto;
    position: relative;
    top: -10px;
    background: white;
    background: -webkit-linear-gradient(45deg, rgb(255, 1, 200), rgb(115, 30, 252));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.telaOk {
    background: linear-gradient(45deg, rgb(225, 1, 255), rgb(115, 30, 252));
    border: none;
    position: relative;
    top: -20px;
    margin: 0 auto;
    padding: 15px;
    width: 150px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.telaOk:hover {
    background: linear-gradient(185deg, rgb(225, 1, 255), rgb(115, 30, 252));
    cursor: pointer;
}

.animCrescer {
    animation: crescer 200ms linear;
}

.animDiminuir {
    animation: diminuir 200ms linear;
}


.sumir {
    visibility: hidden;
}

@keyframes crescer {
    0% {
        width: 0px;
        height: 0px;
    }
}

@keyframes diminuir {
    100% {
        width: 0px;
        height: 0px;
    }
}
